.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: 55px;
    overflow: hidden;
    padding: 7px;
    background-color: #F55A5A;
}
.header-name{
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    margin: 7px;
}