.footer{
    align-items: center;
    width: 317px;
    height: 64px;
    border: 0;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    margin-top: 0;
    overflow: hidden;
    background-color: #161619;
}
.social-links{
    width: 54%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.social-links > li{
    min-width: 25px;
    max-height: 25px;
    font-size: 20px;
    list-style: none;
    text-align: center;
    align-self: center;
    background-color: #918E9B;
    color: #161619;
    border: 0;
    border-radius: 3px;
    margin: 20px 0;
    padding: 3px 3px;
}
.social-links > li > a:link{
    color: #161619;
}